.loginContainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;

  .leftSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 2rem;
    gap:10rem;

    .logo {
      width: 150px;
      margin-bottom: 2rem;
    }

    .signInImage {
      width: 80%;
      max-width: 600px;
    }
  }

  .rightSection {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .form {
      max-width: 400px;
      width: 100%;
      text-align: center;

      h2 {
        font-size: 2rem;
        color: #213f7d;
        margin-bottom: 0.5rem;
      }

      p {
        color: #545a77;
        margin-bottom: 1.5rem;
      }

      label {
        display: block;
        text-align: left;
        color: #545a77;
        font-weight: 500;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
      }

      input {
        width: 100%;
        padding: 0.8rem;
        border: 1px solid #dcdfe6;
        border-radius: 4px;
        margin-bottom: 1rem;
        font-size: 1rem;
        color: #213f7d;
        outline: none;

        &:focus {
          border-color: #39cdcc;
        }
      }

      .passwordWrapper {
        position: relative;

        .showButton {
          position: absolute;
          right: 1rem;
          top: 0.8rem;
          background: none;
          border: none;
          color: #39cdcc;
          font-weight: bold;
          cursor: pointer;
          outline: none;
        }
      }

      .forgotPassword {
        display: block;
        text-align: right;
        margin-bottom: 2rem;
        font-size: 0.9rem;
        color: #39cdcc;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .loginButton {
        width: 100%;
        padding: 0.8rem;
        background-color: #39cdcc;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: #34bfb3;
        }
      }
    }
  }

  // Responsive styling for smaller screens
  @media (max-width: 768px) {
    flex-direction: column;

    .leftSection {
      display: none;
    }

    .rightSection {
      padding: 1rem;
    }
  }
}
